body {
  background-color: black;
  color: white;
}
.ball {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: palevioletred;
  margin: auto;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
